VITE_PAT=YOUR_SECRET_AIRTABLE_TOKEN
VITE_BASE_ID=YOUR_AIRTABLE_BASE_ID
VITE_CONTACTS_TABLE_NAME=contacts
VITE_NOTES_TABLE_NAME=notes

VITE_CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_ACCOUNT_NAME
VITE_CLOUDINARY_UPLOAD_PRESET=YOUR_UPLOAD_PRESET_NAME
VITE_CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
VITE_CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
VITE_CLOUDINARY_URL=cloudinary://VITE_CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
:<YOUR_CLOUDINARY_API_SECRET>@YOUR_CLOUDINARY_ACCOUNT_NAME